.main {
  display: block;
  height: calc(100vh - 119px);

  h1, h2,h3,h4,h5 {
    font-family: Roboto !important;
    font-weight: 100 !important;
  }
}
.logo {
  float: right;
  margin: 0 0 1em;
  height: 5vmin;
  pointer-events: none;
}


/* Footer */
.footer {
  background: #9B479F;
  color: #fff;
  font-size: .9rem;
}


@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
